<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p class="parrafoSaludo">Welcome to  <%= title %></p>
    <ul>
      <% listaAnuncios.forEach(function(anuncio){ %>
        <li>
          <%= anuncio.nombre %>
          <figure>
            <img class="imagen" src="/images/<%= anuncio.foto %>" alt="Foto del anuncio">
          </figure>
        </li>
      <% }); %>
      
    </ul>
  </body>
</html>
